/* Applies to the whole web page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting the background color of the webpage */
body {
    background-color: #d9dcd6;
}

/*This the start of formatiing and styling of the header of the page*/ 
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*setting the style and font size for the h1 header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*highlighting the SEO font in the horiSEOn text of the header*/
header h1 .seo {
    color: grey;
    background-color: transparent;
}

/* Start of syling and formatiing of the navigation links inside of the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* End of the styling for the navigation links and the 
   end of the formating and styling of the header*/

/* This is a large image between the header and the main part of the page. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This is the start of the style and formatting being applied to the main part of the page. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*this will move the images in the content section to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*this will move the images in the content section to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*setting the size of the font for paragraphs*/
p {
    font-size: 16px;
}

/*This part applies styling and formating to the left side of the main section of the page */
.left-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*image size */
.left-section img {
    max-height: 200px;
}

/*formating for the headers*/
.left-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This applies style and formatting to the benifts section which is on the right side of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*styling for the benefits section*/
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*formating for the headers in the benefits section*/
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*formating for the images in the benefits section*/
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*End of formatting and styling of the main section*/

/* This will apply style and formatiing to the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
   
}

.footer h2 {
    font-size: 20px;
}
